h1 {
    border: 2px dashed red;
    width: 50%;
    
}

h1,
h3 {
    color: rgb(128, 7, 241);
}

p {
    color: rgb(3, 3, 77);
}

.gray {
    color: rgb(245, 3, 3);
}

.yellow {
    color: rgb(148, 148, 9);
}

#second {
    font-style: italic;
}

p span {
    text-transform: uppercase;
    background-color: gold;
}